<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Barang</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align="center">Total Harga</h1>
        
        <center>
            <table border>
            <tr>
                <td>Nama Barang</td>
                <td>Harga Barang</td>
                <td>Item Barang</td>
                <td>Total Harga</td>
                <td>Diskon</td>
            </tr>
            
            <tr>
                <td><b th:text="${nama}"></b></td>
                <td><b th:text="${harga}"></b></td>
                <td><b th:text="${jumlah}"></b></td>
                <td><b th:text="${total}"></b></td>
                <td><b th:text="${laba}"></b></td>
            </tr>
            
            <tr>
                <td  colspan="3" style="text-align: right; padding-right:  100px">Total Akhir</td>
                <td colspan="2"><b th:text="${diskon}"></b></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right; padding-right:  130px">Bayar</td>
                <td colspan="2"><b th:text="${bayar}"></b></td>
            </tr>
            
            <tr>
                <td colspan="3" style="text-align: right; padding-right:  100px">Kembalian</td>
                <td colspan="2"><b th:text="${kembalian}"></b></td>
            </tr>
                
        </table>
        </center>
    
       <footer style=" text-align: center ">
            <P>Penulis</p>
            <p>Ramadana Winata 20200140117</p>
        </footer>
    </body>
</html>